@font-face {
  font-family: "SF Pro Text SemiBold";
  src: local("SF Pro Text SemiBold"),
    url(../../assets/fonts/SF-Pro-Display-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text Normal";
  src: local("SF Pro Text Normal"),
    url(../../assets/fonts/SF-Pro-Display-Light.otf) format("opentype");
}

.WorkoutCompletePage__page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.WorkoutCompletePage__page_wrapper svg {
  margin-top: 140px;
}

.WorkoutCompletePage__page_wrapper span {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: SF Pro Text SemiBold;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
}

.WorkoutCompletePage__page_wrapper .header {
  font-family: SF Pro Text SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

.WorkoutCompletePage__page_wrapper .grey_text {
  font-family: SF Pro Text Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #7c7c7c;
}

.WorkoutCompletePage__page_wrapper div {
  width: 100%;
  margin-top: 32px;
}

.WorkoutCompletePage__page_wrapper div .save_button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  color: white;
  width: 800px;
  height: 48px;
  background: #aa00ff;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  border-radius: 8px;
  align-items: center;
  font-family: SF Pro Text Normal;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 375px) {
  .WorkoutCompletePage__page_wrapper .header {
    font-size: 28px;
    line-height: 36px;
  }
  .WorkoutCompletePage__page_wrapper .grey_text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
  .WorkoutCompletePage__page_wrapper div .save_button {
    width: 300px;
    height: 48px;
  }
}
